body {
    background-color: #EEEEEE;

    width: 100%;
    margin: 0;
}

.main {

    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");


    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}

.writer {
    position: relative;
    background-color: white;
    width: 700px;
    border-radius: 25px;
    margin: 90px auto 20px auto;
    box-shadow: 5px 5px 10px 10px #888686;
    padding: 15px;
}

.app {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


}

.navbar {
    width: 100%;
    background-color: #FFC700;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 50px;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.6);



}

.navbar h1 {
    margin-left: 20px;
    color: white;
    font-family: "poppins";
    font-weight: lighter;
    font-size: 2.2em;
}

.navbar a {
    font-size: 20px;
    color: white;
    text-decoration: none;


}



.nvb {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: -30px;
    margin-left: 65px;
}





.srt {
    display: flex;
    justify-self: center;
    align-items: center;
    color: white;
    font-family: "poppins";
    font-weight: lighter;
    font-size: 1.1em;
    width: 100px;



}

.srt:hover {
    color: aqua;
    transition: 0.5s;

    background-color: white;
    height: 100%;
    width: 100px;
}

.srt2 {
    color: aqua;
    transition: 0.5s;

    background-color: white;
    height: 100%;
    width: 100px;

}


.sorted {

    position: relative;
    top: 115px;
    left: -150px;
    background-color: white;
    width: 150px;


    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: "Pt sans", cursive;
    font-weight: bold;
    font-size: 1.0em;

}

.sorted2 {
    visibility: hidden;
}

.lbl {
    display: inline-block;
    width: 100%;
    height: 40px;

}




.sorted .sort {
    padding: 5px 5px 10px 5px;
    text-align: left;
    height: 30px;

}

.sorted .mrgu {
    padding-top: 10px;
}

.sorted .mrgl {
    padding-bottom: 10px;
}



.sorted :hover {

    background-color: #1c9665;


    color: aqua;
    transition: 0.1s;



}



.sorted input {
    position: absolute;
    right: 10px;
}



.sorted .hr:hover {
    color: white;
    background-color: white;

}

.ntic {
    color: white;
    margin-left: 5px;

}





















form input,
form textarea {
    width: 100%;
    border: none;
    padding: 4px;
    resize: none;
    outline: none;
    font-size: 1.5em;
    font-family: "Pt sans", cursive;
    font-weight: lighter;

}


form .fb {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -17px;
    right: 20px;
    font-size: 3.0em;
    background-color: #FFC700;
    color: #fff;

    border: none;
    outline: none;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
    box-shadow: 0px 1px 3px #888686;
    font-family: "Pt sans", cursive;
    font-weight: lighter;
}

form .fb:hover {
    background-color: #2e914a;
    color: rgb(0, 0, 0);
    transition: 0.5s;

}

.note {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 10px;
    margin: auto 25px auto 25px;
    position: relative;
    top: 35px;


}

.notes {
    background-color: white;
    height: fit-content;
    width: 250px;
    box-shadow: 2px 5px 10px 2px #888686;
    border-radius: 25px;
    padding: 15px;
    float: left;

}

.notes h1 {
    font-family: "Pt sans", cursive;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 6px;
    word-wrap: break-word;

}

.notes p {
    font-family: "Pt sans", cursive;
    font-size: 1em;

    font-weight: lighter;
    white-space: pre-wrap;
    word-wrap: break-word;

}

.notes button {
    outline: none;
    border: none;
    font-size: 1.0em;
    background-color: white;
    position: relative;
    margin-top: 10px;

    float: right;
    white-space: pre-wrap;
    word-wrap: break-word;

    cursor: pointer;

}

.ntdlt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(190, 73, 73);


}


.etdlt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: lightcoral;
    margin-top: 1px;



}

.ftr {
    margin: 70vh auto 10px auto;
}

.footer {

    font-family: "Pt sans", cursive;
    font-weight: bold;
    color: gray;
    opacity: 0.7;


}

.search {
    position: absolute;


    display: flex;
    font-size: 12px;
    align-items: center;
    right: 70px;
}




.search input {
    outline: none;
    border: none;
    font-size: 1.5em;
    font-family: "Pt sans", cursive;
    font-weight: lighter;
    padding: 10px;
    height: 20px;



}

.srchlbl {


    background-color: yellow;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    outline: none;
    border: none;


}